
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GETFYT | VENDOR</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../stylesheets/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../stylesheets/css/_all-skins.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- <span class="logo-mini"><b>G</b>F</span> -->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>GETFYT</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <i class="fas fa-bars"></i>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="https://www.worldcrunch.com/assets/img/avatars/thumbnails/default-user-img-profile.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs" style="text-transform:uppercase"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="https://www.worldcrunch.com/assets/img/avatars/thumbnails/default-user-img-profile.jpg" class="img-circle" alt="User Image">

                  <p>
                    <span style=""></span> - MuscleGarage
                    <small>Member since Nov. 2012</small>
                  </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a onclick="signout()" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->

          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="https://www.worldcrunch.com/assets/img/avatars/thumbnails/default-user-img-profile.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p style="padding-top:15px;text-transform:uppercase"> </p>
          </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li>
            <a href="/vendor/dashboard">
              <i class="fas fa-desktop"></i> <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/vendor/otpverification">
              <i class="fas fa-check-circle"></i> <span>Verify OTP</span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fas fa-building"></i>
              <span>Booking</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/vendor/currentbookings"><i class="fas fa-circle-notch"></i> Current Booking</a></li>
              <li><a href="/vendor/futurebookings"><i class="fas fa-circle-notch"></i> Future Booking</a></li>
              <li><a href="/vendor/pastbookings"><i class="fas fa-circle-notch"></i> Past Booking</a></li>
              <li><a href="/vendor/consumedbookings"><i class="fas fa-circle-notch"></i> Consumed Booking</a></li>
            </ul>
          </li>
          <li>
            <a href="/vendor/profile">
              <i class="fas fa-user"></i> <span>Profile</span>
            </a>
          </li>
          <li>
            <a onclick="signout()" style="cursor:pointer;">
              <i class="fas fa-sign-out-alt"></i> <span>Sign Out</span>
            </a>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">

      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row" style="margin-top:-2%">
          <div class="col-lg-12">
            <div class="row" style="margin-bottom:15px;">
              <div class="col-md-12">
                <h2><i class="fa fas fa-user fa-2x"></i> &nbsp;&nbsp;Vendor Details</h2>
                <i style="font-size:25px" class="fas fa-edit pull-right fa-2x" data-toggle="modal" data-target="#1"></i>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:20px">Basic Details </div>
              <div class="panel-body">
                <div class="col-lg-6">
                  <p><b>Name:</b>&nbsp;&nbsp;</p>
                  <p><b>Address:</b>&nbsp;&nbsp;</p>
                  <p><b>Email:</b>&nbsp;&nbsp;</p>
                  <p><b>Number:</b>&nbsp;&nbsp;</p>
                </div>
                <div class="col-lg-6">
                  <p><b>State:</b>&nbsp;&nbsp;</p>
                  <p><b>Pincode:</b>&nbsp;&nbsp;</p>
                  <p><b>Area:</b>&nbsp;&nbsp;</p>
                  <p><b>City:</b>&nbsp;&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:20px">Contact Details</div>
              <div class="panel-body">
                <div class="">
                  <div class="table-responsive">
                    <table class="table">
                      <thead style="background-color:#e2f2ff">
                        <tr>
                          <th>Name	</th>
                          <th>Email</th>
                          <th>Phone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%=user.name%></td>
                          <td><%=user.email%></td>
                          <td><%=user.phone%></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <i style="font-size:25px;padding-bottom:10px;" class="fas fa-edit pull-right fa-2x" data-toggle="modal" data-target="#2"></i>
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:20px">Images</div>
              <div class="panel-body">
                <%if(user.profile.images.length!=0){%>
                  <%user.profile.images.forEach(function(img){%>
                    <img class="img-responsive col-sm-3" src="../uploads/<%=img.url%>" alt="">
                  <%})%>
                <%}else{%>
                  <div class="">
                  </div>
                <%}%>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- Editing Modals -->

      <!--Basic Details Modal -->
      <div class="modal fade" id="1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form role="form" style="display: block;" action="" method="post">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Basic Details</h4>
              </div>
              <div class="modal-body">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Name</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="text" name="name" id="name" class="form-control" placeholder="" required />
                  </div>
                  <div class="form-group">
                    <label for="">Email</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="email" id="email" class="form-control" placeholder="" required />
                  </div>
                  <div class="form-group">
                    <label for="">Number</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="email" id="email" class="form-control" placeholder="" required />
                  </div>
                  <div class="form-group">
                    <label for="">State</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="city" id="city" class="form-control" placeholder="" required />
                  </div>
                  <div class="form-group">
                    <label for="">Pincode</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="pincode" id="pincode" class="form-control" placeholder="" required />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Area</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="area" id="area" class="form-control" placeholder="" required />
                  </div>
                  <div class="form-group">
                    <label for="">City</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="city" id="city" class="form-control" placeholder="" required />
                  </div>
                  <div class="form-group">
                    <label for="">Address</label>
                    <textarea rows="4" style="border:1px solid #ced4da;outline:none" type="" name="address" id="address" class="form-control" placeholder="" required >null</textarea>
                  </div>
                </div>
                <div class="row" style="padding-top:20px;">
                  <div class="col-md-12">
                  </div>
                </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
            <div class="modal-header">
              <h4 class="modal-title">Contact Details</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Name</label>
                  <input value="null" style="border:1px solid #ced4da;outline:none" type="text" name="name" id="name" class="form-control" placeholder="" required />
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="email" id="email" class="form-control" placeholder="" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Number</label>
                  <input value="7708538" style="border:1px solid #ced4da;outline:none" type="number" name="phone" id="phone" class="form-control" placeholder="" required />
                </div>
              </div>
              <div class="row" style="padding-top:10px;">
                <div class="col-md-12">
                </div>
              </div>
              <div class="modal-footer">
              </div>

              <div class="modal-header">
                <h4 class="modal-title">Location</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="form-group">
                    <label for="">Add Location</label>
                    <input value="null" style="border:1px solid #ced4da;outline:none" type="" name="pic" id="" class="form-control" placeholder="" required />
                  </div>
                </div>
                <div class="row" style="padding-top:10px;">
                  <div class="col-md-12">
                    <button type="button" onclick="update()" name="button" class="btn btn-success form-control">Update</button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
              </div>


            </div>
          </form>
        </div>

      </div>
    </div>

    <div class="modal fade" id="2" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form enctype="multipart/form-data" style="display: block;" action="/vendor/profile/upload-pic" method="post">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>

              <h4 class="modal-title">Images</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="form-group">
                  <label for="">Photos</label>
                  <input value="null" style="border:1px solid #ced4da;outline:none" type="file" name="gopal" id="" class="form-control" placeholder="" required />
                </div>
              </div>
              <div class="row form-group" style="padding-top:10px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                  <button type="submit" name="button" class="btn btn-success form-control">Upload Pic</button>
                </div>
                <div class="col-md-3">
                </div>
              </div>
            </div>
            <div class="modal-footer">
            </div>



          </div>
        </form>
      </div>

    </div>
  </div>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../stylesheets/js/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../stylesheets/js/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
$.widget.bridge("uibutton", $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="../stylesheets/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="../stylesheets/js/raphael.min.js"></script>
<script src="../stylesheets/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="../stylesheets/js/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="../stylesheets/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../stylesheets/js/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="../stylesheets/js/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../stylesheets/js/moment.min.js"></script>
<script src="../stylesheets/js/daterangepicker.js"></script>
<!-- datepicker -->
<script src="../stylesheets/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../stylesheets/js/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="../stylesheets/js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../stylesheets/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../stylesheets/js/adminlte.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../stylesheets/js/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../stylesheets/js/demo.js"></script>

<!-- DataTables -->
<script src="../stylesheets/js/jquery.dataTables.js"></script>
<script src="../stylesheets/js/dataTables.bootstrap.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


<script>
function update() {
  // console.log("<%-user._id%>");
  function isNull(value) {
    if (value == "") {
      return "null";
    } else {
      return value;
    }
  }
  var name = isNull(document.getElementById("name").value),
    // address = isNull(document.getElementById("address").value),
    area = isNull(document.getElementById("area").value),
    city = isNull(document.getElementById("city").value),
    // logo = isNull(document.getElementById("logo").value),
    // points_cost = isNull(document.getElementById("points_cost").value),
    // is_active = isNull(document.getElementById("is_active").value),
    phone = isNull(document.getElementById("phone").value),
    email = isNull(document.getElementById("email").value);
  axios
    .post("/vendor/profile/update", {
      name: name,
      // address: address,
      area: area,
      city: city,
      // logo: logo,
      // points_cost: points_cost,
      // is_active: is_active,
      contact: {
        name: name,
        phone: phone,
        email: email
      },
      vendorId: "<%-user._id%>"
    })
    .then(function(msg) {
      console.log("success");
      window.location.replace("/vendor/profile");
    })
    .catch();
}

$(document).ready(function() {
  $("#dataTables-example").dataTable();
});
</script>
</body>
</html>
